<!DOCTYPE html>
<html lang="de">
  <head>
#parse("inc_head.vm")
  </head>

  <body>
#parse("inc_navigation.vm")

<!-- CONTENT -->
    <div class="container">
      <div class="row">
        <div class="span9">
          <h2>$bean.endeavor.title</h2>
#if($bean.endeavor.wikiPage && !$resolver.resolveWikiUrlFor($bean.endeavor.wikiPage).isEmpty())
          (siehe auch <a href="$resolver.resolveWikiUrlFor($bean.endeavor.wikiPage)" target="wiki-aventurica" class="chronicler-wiki-aventurica-link">Wiki Aventurica</a>)
#end
          <hr />
          <h4>Kurzbeschreibung</h4>
          $bean.endeavor.description
          <hr />
          <h4>Ereignisse</h4>
#foreach($event in $bean.endeavor.events)
#if($event.location)
          <h5>$event.date - $event.location.name - $event.title</h5>
#else
          <h5>$event.date - $event.title</h5>
#end
          $event.description
#end
#parse("inc_endeavor_detailed.vm")
        </div>
        <div class="span3">
#parse("inc_endeavor_references.vm")
        </div>
      </div>

      <hr />

#parse("inc_footer.vm")
    </div> <!-- /container -->

#parse("inc_js.vm")
  </body>
</html>
