<!DOCTYPE html>
<html lang="de">
  <head>
#parse("inc_head.vm")
  </head>

  <body>
#parse("inc_navigation.vm")

<!-- CONTENT -->
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>$bean.pageTitle</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h4>Abenteuer</h4>
            <ul class="nav nav-list">
#foreach($endeavor in $bean.endeavors)
              <li><a href="$resolver.resolveUrlFor($endeavor)">$endeavor.title</a></li>
#end
            </ul>
        </div>
        <div class="span2">
          <h4>Helden</h4>
            <ul class="nav nav-list">
#foreach($member in $bean.members)
              <li><a href="$resolver.resolveUrlFor($member)">$member.name</a></li>
#end
            </ul>
        </div>
        <div class="span2">
          <h4>Meisterpersonen</h4>
            <ul class="nav nav-list">
#foreach($stakeholder in $bean.stakeholders)
              <li><a href="$resolver.resolveUrlFor($stakeholder)">$stakeholder.name</a></li>
#end
            </ul>
        </div>
        <div class="span2">
          <h4>Kreaturen</h4>
            <ul class="nav nav-list">
#foreach($creature in $bean.creatures)
              <li><a href="$resolver.resolveUrlFor($creature)">$creature.name</a></li>
#end
            </ul>
        </div>
        <div class="span2">
          <h4>Schaupl&auml;tze</h4>
            <ul class="nav nav-list">
#foreach($location in $bean.locations)
              <li><a href="$resolver.resolveUrlFor($location)">$location.name</a></li>
#end
            </ul>
        </div>
      </div>

      <hr />

#parse("inc_footer.vm")
    </div> <!-- /container -->
    
#parse("inc_js.vm")
  </body>
</html>
