          <div class="well sidebar-nav">
            <a href="$resolver.resolveUrlFor($bean.object)" class="thumbnail">
              <img src="$resolver.resolveImageUrlFor($bean.object)" alt="$bean.object.name" />
            </a>
            <ul class="nav nav-list">
#if($bean.object.adventures)
              <li class="nav-header">Abenteuer</li>
#foreach($a in $bean.object.adventures)
              <li><a href="$resolver.resolveUrlFor($a)">$a.title</a></li>
#end
#end
#if($bean.object.orte)
              <li class="nav-header">Orte</li>
#foreach($o in $bean.object.orte)
              <li><a href="$resolver.resolveUrlFor($o)">$o.name</a></li>
#end
#end
#if($bean.object.kreaturen)
              <li class="nav-header">Kreaturen</li>
#foreach($k in $bean.object.kreaturen)
              <li><a href="$resolver.resolveUrlFor($k)">$k.name</a></li>
#end
#end
#if($bean.object.nscs)
              <li class="nav-header">Meisterpersonen</li>
#foreach($n in $bean.object.nscs)
              <li><a href="$resolver.resolveUrlFor($n)">$n.name</a></li>
#end
#end
#if($bean.object.helden)
              <li class="nav-header">Helden</li>
#foreach($h in $bean.object.helden)
              <li><a href="$resolver.resolveUrlFor($h)">$h.name</a></li>
#end
#end
            </ul>
          </div><!--/.well -->
