          <div class="well sidebar-nav">
            <a href="$resolver.resolveUrlFor($bean.adventure)" class="thumbnail">
              <img src="$resolver.resolveImageUrlFor($bean.adventure)" alt="$bean.adventure.title" />
            </a>
            <ul class="nav nav-list">
#if($bean.adventure.orte)
              <li class="nav-header">Orte</li>
#foreach($o in $bean.adventure.orte)
              <li><a href="$resolver.resolveUrlFor($o)">$o.name</a></li>
#end
#end
#if($bean.adventure.nscs)
              <li class="nav-header">Meisterpersonen</li>
#foreach($n in $bean.adventure.nscs)
              <li><a href="$resolver.resolveUrlFor($n)">$n.name</a></li>
#end
#end
#if($bean.adventure.kreaturen)
              <li class="nav-header">Kreaturen</li>
#foreach($k in $bean.adventure.kreaturen)
              <li><a href="$resolver.resolveUrlFor($k)">$k.name</a></li>
#end
#end
#if($bean.adventure.helden)
              <li class="nav-header">Helden</li>
#foreach($h in $bean.adventure.helden)
              <li><a href="$resolver.resolveUrlFor($h)">$h.name</a></li>
#end
#end
            </ul>
          </div><!--/.well -->
