          <div class="well sidebar-nav">
            <a href="$resolver.resolveUrlFor($bean.object)" class="thumbnail">
              <img src="$resolver.resolveImageUrlFor($bean.object)" alt="$bean.object.name" />
            </a>
            <ul class="nav nav-list">
#if($bean.object.endeavors)
              <li class="nav-header">Abenteuer</li>
#foreach($endeavor in $bean.object.endeavors)
              <li><a href="$resolver.resolveUrlFor($endeavor)">$endeavor.title</a></li>
#end
#end
#if($bean.object.locations)
              <li class="nav-header">Orte</li>
#foreach($location in $bean.object.locations)
              <li><a href="$resolver.resolveUrlFor($location)">$location.name</a></li>
#end
#end
#if($bean.object.creatures)
              <li class="nav-header">Kreaturen</li>
#foreach($creature in $bean.object.creatures)
              <li><a href="$resolver.resolveUrlFor($creature)">$creature.name</a></li>
#end
#end
#if($bean.object.stakeholders)
              <li class="nav-header">Meisterpersonen</li>
#foreach($stakeholder in $bean.object.stakeholders)
              <li><a href="$resolver.resolveUrlFor($stakeholder)">$stakeholder.name</a></li>
#end
#end
#if($bean.object.members)
              <li class="nav-header">Helden</li>
#foreach($member in $bean.object.members)
              <li><a href="$resolver.resolveUrlFor($member)">$member.name</a></li>
#end
#end
            </ul>
          </div><!--/.well -->
