          <div class="well sidebar-nav">
            <a href="$resolver.resolveUrlFor($bean.endeavor)" class="thumbnail">
              <img src="$resolver.resolveImageUrlFor($bean.endeavor)" alt="$bean.endeavor.title" />
            </a>
            <ul class="nav nav-list">
#if($bean.endeavor.locations)
              <li class="nav-header">Orte</li>
#foreach($location in $bean.endeavor.locations)
              <li><a href="$resolver.resolveUrlFor($location)">$location.name</a></li>
#end
#end
#if($bean.endeavor.stakeholders)
              <li class="nav-header">Meisterpersonen</li>
#foreach($stakeholder in $bean.endeavor.stakeholders)
              <li><a href="$resolver.resolveUrlFor($stakeholder)">$stakeholder.name</a></li>
#end
#end
#if($bean.endeavor.creatures)
              <li class="nav-header">Kreaturen</li>
#foreach($creature in $bean.endeavor.creatures)
              <li><a href="$resolver.resolveUrlFor($creature)">$creature.name</a></li>
#end
#end
#if($bean.endeavor.members)
              <li class="nav-header">Helden</li>
#foreach($member in $bean.endeavor.members)
              <li><a href="$resolver.resolveUrlFor($member)">$member.name</a></li>
#end
#end
            </ul>
          </div><!--/.well -->
