          <h4 name="title">$abenteuer.date - $abenteuer.title</h4>
          <div class="row">
            <div class="span2">
#foreach($session in $abenteuer.sessions)
				$formatter.format($session.date), $session.location<br />
#end
            </div>
            <div class="span8">
            	$abenteuer.description
            </div>
            <div class="span2">
                <a href="$resolver.resolveUrlFor($abenteuer)" class="thumbnail">
                  <img src="$resolver.resolveImageUrlFor($abenteuer)" alt="$abenteuer.title" />
                </a>
            </div>
          </div>
          <p><a class="btn" href="$resolver.resolveUrlFor($abenteuer)">Mehr &raquo;</a></p>
